.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-container {
  width: 350px;
  margin: 60px auto;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  margin-bottom: 20px;
}

.form-container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;   /* Adds space between fields */
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

.form-container button {
  width: 95%;
  padding: 12px;
  margin-top: 15px;  /* Space above button */
  border: none;
  border-radius: 6px;
  background-color: #4cafef;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #3794d6;
}

.form-container p {
  margin-top: 15px;
  font-size: 14px;
}
